<h3>What Is User Management?</h3>

<p>User management is a system to handle activities related to individuals' access to devices, software, and services. It focuses on managing permissions for access and actions as well as monitoring usage. Functions of user management include:</p>
 <ul>
    <li>Providing users with authenticated access</li>
    <li>Supporting set up, reissuing, and decommissioning of users' access credentials</li>
    <li>Establishing access privileges based on permissions</li>
  </ul>

<p>The expansion of cloud applications has added to the complexity of tracking and managing software and increased the importance of user management.</p>

<p>User management also can keep track of accounts related to software licenses throughout their lifecycle. This ensures that all users have licenses for the software that they are using and that these can be reclaimed and reissued when they are no longer in use.</p>

<h4>User Management and the Cloud</h4>

<p>Cloud applications and resources require extra vigilance when it comes to user management. IT departments need to create and manage more complex policies to address the proliferation of accounts and the distribution of users.</p>

<p>To add to this complicated function, IT teams must track what type of user management system the various cloud service providers use. This is because user management in the cloud is handled differently depending on the type of deployment and the service provider. Two common methods of handling user management in the cloud are as follows:</p>

<h5>1. Identity and Access Management (IAM)</h5>
<p>This collection of technology, policies and processes is used to manage accounts and related access for users (i.e., humans) and roles (i.e., services or scripts). IAM is tied to users or roles. Role-Based Access Control, or RBAC, is used to define permissions based on a user's job.</p>

<h5>2. Resource Access Management (RAM)</h5>
<p>Policies specify who can access a resource and what actions can be performed. RAM is tied to the resource rather than to a user or role.</p>
